<h1 class="mt-3">Selectores Anidados</h1>
<hr>
<form [formGroup]="myForm">
  <!-- region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continentes:</label>
      <select formControlName="region" class="form-control">
        <option  value="">--Seleccione Continente--</option>
        <option  *ngFor="let region of regions" [value]="region">{{region}}</option>
      </select>
    </div>
  </div>
    <!-- countries -->
    <div class="row mb-3"  *ngIf="countryByRegion.length > 0">
      <div class="col">
        <label class="form-label">Paises:</label>
        <select formControlName="country" class="form-control">
          <option  value="">--Seleccione Pais--</option>
          <option  *ngFor="let country of countryByRegion" [value]="country.cca3">{{country.name}}</option>
        </select>
      </div>
    </div>
    <!-- Fronteras -->
    <div class="row mb-3"  *ngIf="borders.length > 0">
      <div class="col">
        <label class="form-label">Fronteras:</label>
        <select formControlName="borders" class="form-control">
          <option  value="">--Seleccione la Frontera--</option>
          <option  *ngFor="let country of borders" [value]="country.cca3">{{ country.name }}</option>
        </select>
      </div>
    </div>
</form>


<h3>Form</h3>
<code>
  {{myForm.value | json}}
</code>
<p>{{myForm.valid}}</p>
